.team-name-map{
	font-size: 16px;
	font-weight: bolder;
}

.team-position-map{
	font-size: 16px;
	font-weight: bolder;
}

.team-position-icon{
	background-color: white;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
	border: 2px solid black;
}

.my-div-icon{
	margin-left: -9px !important;
	margin-top: -9px !important;
}